@import 'utils/variables';

*, :before, :after {
    box-sizing:border-box;
}
body {
    background:$medium-red-gradient;
    
}
header {
    nav {
        width:100%;
        height:50px;
        background-color:$offwhite;
        display:flex;
        align-content:center;
        align-items:center;
        justify-content:flex-end;
        padding:0 20px;
        box-shadow:$elem-sdw;
        .nav-link {
            color:$darkred;
            font: normal normal 600 1rem/50px 'Raleway', sans-serif;
            text-decoration:none;
            margin: 0 20px;
        }

    }
}
main {
    display:flex;
    flex-flow:row wrap;
    align-content:center;
    height:calc(100vh - 50px);
    .container {
        width:1200px;
        height:600px;
        margin:0 auto;
        background:$offwhite;
        display:flex;
        box-shadow:$layout-sdw;
        .content-right {
            width:450px;
            height:600px;
            img {
                width:100%;
            }
        }
        .content-left {
            width:calc(100% - 450px);
            padding:20px;
            .main-logo {
                width:140px;
            }
            .lightver{
                display:block;
            }
            .darkver {
                display:none;
            }
            .info-block {
                width:70%;
                margin:0 auto;
                margin-top:30px;
                h1 {
                    font: normal normal 700 5rem/6rem 'Raleway', sans-serif;
                    color:$black;
                    text-transform:uppercase;
                }
                p {
                    font: normal normal 500 0.9rem/ 150% 'Raleway', sans-serif;
                    color:$darkred;
                }
                form {
                    position:relative;
                    margin-top:20px;
                    input[type=email] {
                        width:100%;
                        height:40px;
                        border-radius:20px;
                        border:1px solid lighten($main-red, 30%);
                        box-shadow:none;
                        background-color:white;
                        padding:0 20px;
                        &:focus {
                            border:1px solid lighten($main-red, 10%);
                            outline:none;
                        }
                    }
                    button {
                        position:absolute;
                        display:flex;
                        justify-content:center;
                        align-content:center;
                        top:0;
                        right:0;
                        width:60px;
                        height:40px;
                        background:$light-red-gradient;
                        color:white;
                        font: normal normal 700 2rem/30px 'Raleway', sans-serif;
                        text-align:center;
                        border:none;
                        border-radius:20px;
                        transition:0.4s;
                        border:1px solid lighten($main-red, 20%);
                        &:hover {
                            cursor: pointer;
                            filter:brightness(1.1);
                        }
                    }
                }
                
            }
        }
    }
}

.switch {
    position:relative;
    display:inline-block;
    width:60px;
    height:28px;
    input {
        opacity:0;
        width:0;
        height:0;
    }
}

.slider {
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius:30px;
    &:before {
        position: absolute;
        content:"";
        height:20px;
        width:20px;
        left:4px;
        bottom:4px;
        background-color:white;
        -webkit-transition: 0.4s;
        transition:0.4s;
        border-radius:50%;
    }
}

input:checked + .slider {
    background-color:$black;
}

input:focus + .slider {
    box-shadow: 0;
}

input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

@media (max-width: 1200px) {
    main {
        .container {
            width:800px;
            height:426px;
            .content-left {
                width:60%;
                .main-logo {
                    width:90px;
                }
                .info-block {
                    h1 {
                        font-size:2.6rem;
                        line-height:2.8rem;
                    }
                    p {
                        font-size:0.8rem;
                    }
                }
            }
            .content-right {
                width:40%;
                height:auto;
            }
        }
    }
}

@media (max-width: 992px) {
    main {
        .container {
            width:80%;
            height:650px;
            flex-flow:row-reverse wrap;
            .content-left {
                width:100%;
                height:350px;
                order:2;
                position:relative;
                
                .main-logo {
                    position:absolute;
                    bottom:10px;
                    right:10px;
                }
                .info-block {
                    width:80%;
                    h1 {
                        font-size:2.4rem;
                        margin-bottom:10px;
                    }
                }
            }
            .content-right {
                width:100%;
                height:300px;
                overflow:hidden;
                order:1;
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        .container {
            height:500px;
            .content-left {
                height:300px;
                padding:30px 15px;
                .main-logo {
                    width:80px;
                }
                .info-block {
                    margin:0 auto;

                    h1 {
                        font-size:1.4rem;
                        line-height:120%;
                    }
                    p {
                        font-size:0.7rem;
                    }
                    form {
                        margin-top:10px;
                    }
                }
            }
            .content-right {
                height:200px;
                
            }
        }
    }
}

//DARKMODE
.darkmode {
        background:$dark-red-gradient;
    header {
        nav {
            background-color:$backblack;
            .nav-link {
                color:lighten($darkred, 10%);
            }
    
        }
    }
    // DARK MODE TOGGLER
    input:checked + .slider {
        background-color:$main-red;
    }
    main {
        .container {
            background:$backblack;
            color:$offwhite;
            box-shadow:$layout-sdw;
            .content-left {
                .lightver{
                    display:none;
                }
                .darkver {
                    display:block,
                }
                .info-block {
                    h1 {
                        color:$main-red;
                    }
                    p {
                        color:$offwhite;
                    }
                    form {

                        input[type=email] {
                            color:$offwhite;
                            border:1px solid darken($main-red, 50%);
                            background-color:black;
                            &:focus {
                                border:1px solid darken($main-red, 30%);
                            }
                        }
                        button {
                            background:$dark-red-gradient, 20%;
                            color:white;
                            border:1px solid black;
                            &:hover {
                                cursor: pointer;
                                filter:brightness(1.1);
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
