// COLORS

$main-red:#AA3C47;
$offwhite:#FDF8F0;
$backblack:#1f1e1d;

// WRITING COLORS

$darkred:#891A25;
$black:#2E2C2A;

// GRADIENTS
$dark-red-gradient:linear-gradient(90deg, #531016 0%, #38090e 100%);
$medium-red-gradient:linear-gradient(90deg, #AA3C47 0%, #9E2A35 100%);
$light-red-gradient:linear-gradient(285deg, #AA3C47 6%, #DE747E 100%);

// SHADOWS

$elem-sdw:0px 0px 10px rgba(0,0,0,0.25);
$layout-sdw:0px 0px 25px rgba(0,0,0,0.25);